@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
/*Progreess bar*/
#progress-bar{
    --progress:0;
    height: 6px;
    width: var(--progress);
    background-color: #50C2F6;
    position: sticky;
    top: 0;
    z-index: 1;
}
/*video in matching page*/
.contain{
    width: 100%;
    height: 88vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.content{
    text-align: center;
}
.content h1{
    color: white;
    font-family: 'Russo One', sans-serif;
}
.content h3{
    font-family: 'Play', sans-serif;
    color: white;
    padding-bottom: 30px;
    font-size: 30px;
}
.content a{
    font-size: 23px;
    color: white;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
}
.content a:hover{
    background-color: #b642f5;
    color: #fff;
}
.background-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }

}
@media (max-aspect-ratio: 16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }

}
/*Choice page*/
.choice h1{
    color: white;
    font-family: 'Russo One', sans-serif;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.4);
    text-align: center;
    text-transform: capitalize;
    font-size: 90px;
    margin-top: 160px;
}
.selection{
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.selection1:hover{
    box-shadow: 0px 8px 10px 1px #b642f5;
    transform: translateY(-8px);
    transition-duration: 350ms;
}
.selection1{
    margin-right: 20px;
    background-color: #ccc;
    padding: 15px 0 25px 20px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.8);

}
.selection1 h2{
    text-transform: capitalize;
    font-family: 'Play', sans-serif;
    font-size: 40px;
    text-align: center;
    color:  #b642f5;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
.selection1 p{
    margin-right: 99px;
    font-size: 20px;
    font-family: 'circular';
}
.selection1 a{
    font-size: 23px;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.4);
    border-radius: 50px;
    transition: 0.3s;
    background-color: #b642f5;
}
.selection1 a:hover{
    background-color: white;
    color: black;
}
.selection2{
    margin-right: 20px;
    background-color: #ccc;
    padding: 15px 0 25px 20px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.8);
}
.selection2:hover{
    box-shadow: 0px 8px 10px 1px #b642f5;
    transform: translateY(-8px);
    transition-duration: 350ms;
}
.selection2 h2{
    text-transform: capitalize;
    font-family: 'Play', sans-serif;
    font-size: 40px;
    text-align: center;
    color:  #b642f5;
    text-shadow: 1px 2px 1px rgba(0,0,0,0.7);
}
.selection2 p{
    margin-right: 99px;
    font-size: 20px;
    font-family: 'circular';

}
.selection2 a{
    font-size: 23px;
    color: white;
    text-decoration: none;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.4);
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
    background-color: #b642f5;
}
.selection2 a:hover{
    background-color: white;
    color: black;
}
/*choice 2 page*/
h1{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 90px;
    padding-top: 20px;
}
h3{
    font-family: 'Play', sans-serif;
    text-transform: capitalize;
    color: #b642f5;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
/*nav section*/
.navbar-brand img, .footer-logo{
    height: 60px;
    width: 60px;
}
.navbar-nav{
    position: relative;
    left: 5%;
}
.navbar-nav a{
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid transparent;
}
.navbar-nav .it1, .it2{
    margin-left: 30px;

}


.navbar-nav a.active{
    border-bottom: 3px solid #50C2F6;
}
.navbar-nav a:hover{
    border-bottom: 3px solid #50C2F6;
}
/*about us section*/
section .team{
    margin: auto;
    max-width: 70%;
}

section .team p img{
    width: 100%;

}
/*About us section*/
section h2{
    font-family: 'Russo One', sans-serif;
    padding-left: 30%;
    margin-top: 20px;
    font-size: 45px;
    color: #b642f5;
    text-shadow: 2px 2px 2px black;
}
#task {
    background-image: url("bit-cloud-U8i2h95G_-Q-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#task h2{
    font-family: 'Russo One', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 45px;
    margin: 48px;
    text-shadow: 2px 2px 2px black;
}
#task .task{
    display: flex;
    justify-content: space-evenly;
    margin-left: 25px;
    margin-right: 25px;
    flex-wrap: wrap;
}

#task .task .card{
    max-width: 25%;
    box-shadow: -9px 12px 50px grey;
    border-radius: 15px;
    padding-top: 10px;
    margin-bottom: 45px;
    flex: 1; /* set items to grow and shrink equally */
    min-width: 300px;

}
#task .task .card img{
    max-width: 50%;
    clip-path: circle(50% at 50% 50%);
    margin: 0 auto;
}
#task .task .card h3{
    text-align: center;
}
.game{
    padding: 30px;
    background: rgb(105,19,91);
    background: linear-gradient(90deg, rgba(105,19,91,1) 0%, rgba(36,139,168,1) 35%, rgba(251,251,251,1) 100%);
}
.game p{
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px black;
}


/*Medium screen below*/


@media screen and (min-width:768px){

  .contain  .content h1{
        font-size: 95px;
        color: white;
      text-shadow: 1px 2px 1px rgba(0,0,0,0.4);
        /*margin-bottom: 50px;*/
    }
    /*  About us section*/
section .team{
    display: flex;
    margin: auto;
    max-width: 70%;
}

section .team p img{
    width: 100%;

}
section h2{
    font-family: 'Russo One', sans-serif;
    padding-left: 30%;
    margin-top: 20px;
    font-size: 45px;
    color: #b642f5;
    text-shadow: 2px 2px 2px black;
}
#task {
    background-image: url("bit-cloud-U8i2h95G_-Q-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#task h2{
    font-family: 'Russo One', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 45px;
    margin: 48px;
    text-shadow: 2px 2px 2px black;
}
#task .task{
    display: flex;
    justify-content: space-evenly;
    margin-left: 25px;
    margin-right: 25px;
}

#task .task .card{
    max-width: 25%;
    box-shadow: -9px 12px 50px grey;
    border-radius: 15px;
    padding-top: 10px;
    margin-bottom: 45px;
    background-color: #fff;
    background-image:
            linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
            linear-gradient(#eee .1em, transparent .1em);
    /*background-size: 100%;*/

}
    #task .task .card:hover{
        box-shadow: 0px 8px 10px 1px #b642f5;
        transform: translateY(-8px);
        transition-duration: 350ms;
    }
#task .task .card img{
    max-width: 50%;
    clip-path: circle(50% at 50% 50%);
    margin: 0 auto;
}
#task .task .card h3{
    text-align: center;
}

.game{
    padding: 56px 0 56px 0;
    background: rgb(105,19,91);
    background: linear-gradient(90deg, rgba(105,19,91,1) 0%, rgba(36,139,168,1) 35%, rgba(251,251,251,1) 100%);
}
.game p{
    font-size: 50px;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px black;
}
/*End of about us section*/

}
