body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.recording {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}




p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar-brand img, .footer-logo{
    height: 60px;
    width: 60px;
}
.navbar-nav{
    position: relative;
    left: 5%;
}
.navbar-nav a{
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid transparent;
}
.navbar-nav .it1, .it2{
    margin-left: 30px;

}


.navbar-nav a.active{
    border-bottom: 3px solid #50C2F6;
}
.navbar-nav a:hover{
    border-bottom: 3px solid #50C2F6;
}

.navbar-nav .dropdown-item:hover{
    border-bottom: 3px solid #b642f5;
}


.container {
    display: flex;
}

.mainTitle{
    margin-bottom: 40px;
}

.content {
    width: 1350px;
    flex: 1;
    margin-right: -270px;
    margin-left: 40px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex-basis: 300px;
    margin: 0 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card h4 {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 0;
}

 .nav {
     margin-bottom: 20px;
 }

.container {
    margin-top: 20px;
}


.sidebar {
    width: auto;
    padding: 20px;
    margin-right: -290px;
}

.card {
    margin-bottom: 20px;
}

.row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.f{
    margin: auto;
    height: auto;
    width: 80%;
    left: 150px;
    display: flex;
    flex-wrap: wrap;
}

.card > h4,
.card > p {
    padding: 10px;
}

.footer-section {
    margin-top: 400px;
    background: #151414;
    position: relative;
}
.footer-cta {
    border-bottom: 1px solid #373636;
}
.single-cta i {
    color: #b642f5;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}
.cta-text {
    padding-left: 15px;
    display: inline-block;
}
.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}
.cta-text span {
    color: #757575;
    font-size: 15px;
}
.footer-content {
    position: relative;
    z-index: 2;
}
.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}
.footer-logo {
    margin-bottom: 30px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}
.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}
.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}
.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #b642f5;
    border-radius: 50%;
    transition: 0.7s;
}
.footer-social-icon i:hover{
    background-color: white;
    color: #b642f5;
}
.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}
.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #b642f5;
}
.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}
.footer-widget ul li a:hover{
    color: #b642f5;
}
.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}
.subscribe-form {
    position: relative;
    overflow: hidden;
}
.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E;
    color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #b642f5;
    padding: 13px 20px;
    border: 1px solid #b642f5;
    top: 0;
}
.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}
.copyright-area{
    background: #202020;
    padding: 25px 0;
}
.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}
.copyright-text p a{
    color: #b642f5;
}
.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}
.footer-menu li:hover a{
    color: #b642f5;
}
.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

.footer-logo{
    height: 80px;
    width: 80px;
}



.departments{
    margin: auto;
}

.h2{
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.h3{
    margin: 20px 20px 20px 20px;
}


/*Quiz*/

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 430px;
    margin: 0 auto;
    height: 100%;
    padding-top: 0px;
}

.quiz {
    padding-bottom: 60px;
    width: 100%;
    border-radius: 2%;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.first{
    background-color: #27dde6;
    color: #000;
}
.first1{
    background-color: #b6f9fc;
    color: #000;
}
.second{
    background-color: #de78c8;
    color: #fff;
}
.second1{
    background-color: #fab9ec;
    color: #000;
}
.third{
    background-color: #008080;
    color: #fff;
}
.third1{
    background-color: #57b3b3;
    color: #000;
}
.fourth{
    background-color: #f7f30c;
    color: #000;
}
.fourth1{
    background-color: #faf893;
    color: #000;
}
.fifth{
    background-color: #000080;
    color: #fff;
}
.fifth1{
    background-color: #0505f7;
    color: #fff;
}
.sixth{
    background-color: #02a818;
    color: #fff;
}
.sixth1{
    background-color: #05f725;
    color: #000;
}
.seventh{
    background-color: #488c67;
    color: #fff;
}
.seventh1{
    background-color: #78dea6;
    color: #000;
}
.eight{
    background-color: #ffb805;
    color: #fff;
}
.eight1{
    background-color: #fcd162;
    color: #000;
}

.quiz > h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 20px;
}

.q {
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 20px;
}

.a div {
    padding: 10px 0 0 0;
    font-size: 16px;
}

.a div:hover {
    cursor: pointer;
    color: #FBCB43;
}

.a {
    padding: 0px 0 10px 0px;
}

.a div {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 15px;
    border-top: 1px solid grey;
}

.a div:first-child {
    border: none;
}

.c {
    display: inline-block;
    width: 200px;
    margin: 0 auto;
}

.correct, .false {
    background-color: #037005;
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
}

.false {
    background-color: #DC4437;
}
